<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge" >
        <meta name="description" content="MediCarePlus - Medical Healthcare HTML5 Template">
        <link href="/static/images/favicon/favicon.ico" rel="icon">
        <title>MediCarePlus - Medical Healthcare</title>
      
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&amp;family=Roboto:wght@400;700&amp;display=swap">
        <link rel="stylesheet" href="/static/use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="stylesheet" href="/static/css/libraries.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/printreport.css">

      </head>
<body>
<nav class="navbar navbar-expand-lg sticky-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <!-- <img src="/static/images/logo/logo-light.png" class="logo-light" alt="logo"> -->
        <img src="/static/images/logo/logo1.png" class="logo-dark" alt="logo">
      </a>
      <button class="navbar-toggler" type="button">
        <span class="menu-lines"><span></span></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav ml-auto">
                <li style="color: #20054e;font-size: 27pt;">Hello, Admin Mohammed!</li>

                <!--<li style="color: #20054e;font-size: 27pt;">Hello, Hospital Receptionist Jane!</li>-->
            

        </ul>
        <a href="/logout" class="btn_login" style="color: #fff !important;margin-right: -35px;"><span style="margin-left: 10px;">Logout</span></a>
        <a href="/staff_main" class="btn_login" style="color: #fff !important;"><span style="margin-left: 10px; width:80px;">User home</span></a>
      </div>
    </div>
  </nav><!-- /.navabr -->

<!--  table tablestriped-->
        <br><br><br><br>
        <table class=" ">
            <thead class="thead-dark">
                <tr>
                    <th class="text-start head">Patient name</th>
                    <th class="text-start head">Patient phone</th>
                    <th class="text-end head">Patient email</th>
                    <th class="text-start head">Appointment date</th>
                    <th class="text-end head">Appointment time</th>
                    <th class="text-start head">Clinic name</th>
                    <th class="text-start head">Doctor first name</th>
                    <th class="text-end head">Doctor last name</th>
                    <th class="text-start head">Appointment fees</th>
                    <th class="text-start head">Status</th>
           
                </tr>
            </thead>
            <tbody>
        <!-- Loop through the database entries to display them in this table -->
              {% for clinic_reservation_data in clinic_reservation_data %}
                  <tr>
                      <td class="text-start data">{{ clinic_reservation_data["patient_name"] }}</td>
                      <td class="text-end data">{{ clinic_reservation_data["patient_phone"] }}</td>
                      <td class="text-start data">{{ clinic_reservation_data["patient_email"] }}</td>
                      <td class="text-start data">{{ clinic_reservation_data["appointment_date"] }}</td>
                      <td class="text-end data">{{ clinic_reservation_data["appointment_time"] }}</td>
                      <td class="text-start data">{{ clinic_reservation_data["clinic_name"] }}</td>
                      <td class="text-start data">{{ clinic_reservation_data["doctor_first_name"] }}</td>
                      <td class="text-end data">{{ clinic_reservation_data["doctor_last_name"] }}</td>
                      <td class="text-start data">{{ clinic_reservation_data["appointment_fees"] }}</td>
                      <td class="text-start data">{{ clinic_reservation_data["status"] }}</td>

                  </tr>
              {% endfor %}
            </tbody>
        </table><br><br><br><br> 


        <footer class="footer" lang="en">
          <div class="footer-primary">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <div class="footer-widget-about">
                    <img src="/static/images/logo/logo1.png" alt="logo" class="mb-30">
                    <p class="color-gray">Our goal is to deliver quality of care in a courteous, respectful, and
                      compassionate manner. We hope you will allow us to care for you and strive to be the first and best
                      choice for your family healthcare.
                    </p>
    
                  </div><!-- /.footer-widget__content -->
                </div><!-- /.col-xl-2 -->
    
                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="footer-widget-nav">
                    <h6 class="footer-widget__title">Links</h6>
                    <nav>
                      <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">News & Media</a></li>
                        <li><a href="#">Contact us</a></li>
                      </ul>
                    </nav>
                  </div><!-- /.footer-widget__content -->
                </div><!-- /.col-lg-2 -->
                <div class="col-sm-12 col-md-5 col-lg-6">
                  <div class="footer-widget-contact">
                    <h6 class="footer-widget__title color-heading">Quick Contacts</h6>
                    <ul class="contact-list list-unstyled">
                      <li>If you have any questions or need help, feel free to contact with our team.</li>
                      <li>
                        <a href="tel:01061245741" class="phone__number">
                          <i class="icon-phone"></i> <span>01061245741</span>
                        </a>
                      </li>
                      <li class="color-body">2307 Beverley Rd Brooklyn, New York 11226 United States.</li>
                    </ul>
    
                  </div><!-- /.footer-widget__content -->
                </div><!-- /.col-lg-2 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
          </div><!-- /.footer-primary -->
        </footer><!-- /.Footer -->
        <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
  
  </body>
  </html>